body {
    background-color: #c7ecee;
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 5vh;
}

.form-tings{
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 30vh;
    line-height: 15vh;
    font-family: Helvetica, sans-serif;
    letter-spacing: -3px;
    font-weight: bolder;
    color: white;
    text-shadow: 5px 0px 0px #f9ca24;
}

input[type=text] {
    background-color: #f6e58d;
    color: white;
    border-bottom: 3px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 20px;
    width: 100vh;
    font-size: 10vh;
  }

  [contenteditable] {
    outline: 0px solid transparent;
  }

  .break {
    flex-basis: 100%;
    height: 0;
  }

  ::placeholder { 
    color: white;
  }